.cart-style {
    border: 1px solid rgb(255, 255, 255);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 110px;
}

.payable-price {
    font-weight: 600;
    font-size: larger;
}